* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-box {
    z-index: 1;
    height: 110px;
    width: 100%;
    background-color: white;
    background-image: url(../../assets/headerback.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to right, #fff, transparent, #fff);
    gap: 1rem;
    height: 100%;
    padding: 5px 40px;
}

.profile-box {
    display: flex;
    flex-direction: column;
}

.left-container {
    display: flex;
}

.detail-container {
    padding: 7px 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 100px;
}

.greeting {
    font-size: 20px;
}

.user-name {
    font-size: 22px;
}

.user-email {
    font-size: 16px;
}

.right-container {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
}

.follower-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: auto;
    height: 100px;
}

.follower-count {
    font-size: 17px;
    color: rgba(8, 15, 15, 0.75);
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .header-box {
        height: 85px;
    }

    .header-container {
        gap: 10px;
        padding: 0 20px;
    }

    .greeting {
        font-size: 14px;
    }

    .user-name {
        font-size: 16px;
    }

    .user-email {
        font-size: 12px;
    }

    .follower-count {
        font-size: 12px;
    }
}

@media screen and (max-width: 1200px) and (min-width:500px) {
    .header-box {
        height: 100px;
    }

    .header-container {
        gap: 10px;
        padding: 0 20px;
    }

    .greeting {
        font-size: 17px;
    }

    .user-name {
        font-size: 20px;
    }

    .user-email {
        font-size: 13px;
    }

    .follower-count {
        font-size: 16px;
    }
}